.l-header{
  //background: linear-gradient(to left,#238952, #2e6a75);
  background: #238952;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px 1px #212121;
  z-index: 1;
}
